/*=====페이스북 디자인=====*/
/* 페이스북 틀 영역 */
*{
    margin: 0;
    padding: 0;
}
.facebook-row {
    margin-top: 30px;
}

/* 왼쪽 사이드 영역 */
.left-outbox img{
    width: 50px;
    height: 50px;
}
/* 중앙 게시글 영역 */
.section-facebook {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
   
}
/* 상단 영역 */
.imgbtn {
    overflow: hidden;
}

.top-text > .imgbtn > .btn-left{
    float: left;
}
.top-text > .imgbtn > .btn-right{
    float: right;
}

.section-facebook > .text-content {
    font-size: 18px;
}
.top-text > .text-wride > .form-group > .form-control {
    resize: vertical;
    
}
/* 하단 영역 */
.facebook-content {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}
.facebook-content > .content-img img{
    position: absolute;
}
.facebook-content > .content-img-p {
    padding-left: 50px;

}
.facebook-content > .content-img-p .test{
    margin-bottom:  10px;
}
.facebook-content > .content-img-p {
    font-size: 85%;
}
.facebook-content > .facebook-content-text {
    padding: 10px 0px;
}


/* 따봉 영역 */
.facebook-content .good {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
}
.facebook-content .good a {
    text-decoration: none;
    color: black;
}
.facebook-content >.good > a > img {
    width: 30px;
    height: auto;
}
.facebook-content > .good a span{
    margin-top: 10px;
}
/* 좋아요 댓글달기 공유 영역 */
.menu  a {
    float: left;
    width: 33.3333%;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    margin:  0px;
}

/* 오른쪽 사이드 영역 */
@media (max-width:767px) {
    .aside-facebook {
        display: none;
    }
}

